
.icon {
    width: 2em; height: 2em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
#animation{
    display: flex;
    position: fixed;
    left: 50%;
    margin-left: -600px;
}
#config{
    position: absolute;
    top: 40%;
    left: 25%;
    text-align: center;
    opacity:0;
    display: none;
}
#config>.btn{
    cursor: pointer;
}
#config>.ms>span{
    background: #000;
    color: white;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
#config>.ms>span:nth-child(1){
    border-radius: 10px 10px 0 0 ;
}
#config>.ms>span:nth-child(2){
    border-radius:  0 0 10px 10px ;
}
*{
    margin: 0;
    padding: 0;
}